<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
    @model List<NetCoresubat.Entities.products>

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">@item.productsName</h5>
                <p class="card-text">@item.productsPrice  TL</p>
                <a asp-action="GetProductsByID" asp-controller="Home" asp-route-id="@item.productsID" class="btn btn-primary"> Info </a>
                <a asp-action="RemoveProduct" asp-controller="Home" asp-route-id="@item.productsID" class="btn btn-danger"> Delete </a>
                <a asp-action="UpdateProduct" asp-controller="Home" asp-route-id="@item.productsID" class="btn btn bg-warning"> Update Data  </a>
            </div>
        </div>
    }

    <a asp-action="AddProducts" asp-controller="Home" class="btn btn-outline-success"> ADD PRODUCT </a>
</body>
</html>


